# Dependencies
/vendor
/node_modules
npm-debug.log
yarn-error.log

# Laravel
/public/hot
/public/fonts
/public/storage
/public/mix-manifest.json
/storage/*.key
Homestead.json
Homestead.yaml
.env

# IDE
/.idea
/.vagrant

# macOS
.DS_Store
**/.DS_Store

# PHPUnit
/results
.phpunit.cache